{{#each this}}
<section class="section_cart">
    <div>
        <p class="class_style_cart">{{title}}</p>
        <text class="class_style_cart"> with </text>
        <p class="class_style_cart">{{instructor}}</p>
        <p class="class_dur_style">{{duration}} MIN</p>
    </div>
    <form method="POST" action="/delete/{{this._id}}">
        <button id="btn_book">REMOVE</button>
    </form>     
</section>
{{/each}}