<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Group 8</title>

   <link rel="stylesheet" href="/css/app.css">
   <link rel="stylesheet" href="/css/{{this.cssFileName}}">
   <script src="../js/app.js" defer></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
   <header>
       <nav>
           <ul>
            <section class="section_primary">
                <div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/classes">Classes</a></li>   
                </div>
                <div class="textalign_login">
                    {{#if Admin}}
                    <li><a href="/admin">Receipts</a></li>
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    {{#if checklogin}}
                        <a href="/purchase"><i class="bi bi-cart4"></i></a>
                        <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                </div>
            </section>               
           </ul>
       </nav>
   </header>
   <main>
       {{{ body }}}
   </main>
</body>
</html>
