<main id="confirmed_page">
   <section>

        <p class="coloredText">ORDER CONFIRMATION</p>
        <p id="order_name">Thank you for your oder!</p>
        <br>
        <p>We've reciver your order and it was succesfull</p>
        <br>
        <p>Your confirmation number: {{ranNum}}</p>
        <br>
        <form method="POST" action="/confirmed">
            <button>HOME</button>
        </form>

   </section>
        
</main> 