<main id="error_page">
   <section>

        <p class="coloredText">ERROR</p>
        <p>Sorry, you do not have any items in your cart</p>
        <form method="POST" action="/error">
            <button>VIEW CLASSES</button>
        </form>

   </section>
        
</main> 