<main id="image_back">
    <div>
        <div>
            <h1 class="homepage_h1">Let's Get Moving!</h1>
            <p class="hmonepahe_p">Welcome to Get Fit Studios with Winona, where fitness becomes your first lifestyle</p>
            <form method="POST" action="/">
                <button class="see_classes_btn">SEE CLASSES</button>
            </form>
        </div>
    </div>
</main>