<main id="login_page">
    <div>
        <p>LOGIN OR SIGNUP</p>
        {{#if errMsg}}
        <p>{{ errMsg }} </p>
        {{/if}}
        <form method="POST" action="/login">
            <input type="text" placeholder="Enter mail address" name="mailFromClient"/ required>
            <input type="text" placeholder="Enter password" name="passwordFromClient"/ required>
            <button type="submit" id="login_btn" name="login_btn">LOGIN</button>
            <button type="submit" id="account_btn" name="account_btn">CREATE ACCOUNT</button>
        </form>
    </div>
</main>