<main id="purchase_page">
   <section>
      <div>
            <form id="checkoutForm" >
                <p class="coloredText">CUSTOMER DETAILS</p>
                <p id="error"></p>
                <input class="textbox" type="text" name="userName" id="customerName" placeholder="Enter your name" pattern="[A-Z]" required>
                <input class="textbox" type="text" name="userEmail" id="customerEmail" placeholder="Enter your email" pattern="[A-Z]" required>
                
                
                <label id="label_member" for="membership">WOULD YOU LIKE TO JOIN AS A MEMBER?</label>
                
                <p class="memberText">Member gets unlimited classes, for a low monthly price.</p>
                
                <input type="radio" name="membership" id="option_one" value="yes" >
                <label for="yes">Yes</label>
                <input type="radio" name="membership" id="option_two" checked value="no" >
                <label for="no">No</label>
                <br>

                <select id="membership-select" name="membership_type">
                <option value="monthly">Monthly Pass - $75/mth</option>
                <option value="yearly">Yearly Pass - $900/mth</option>
                </select>

                <p class="coloredText">Payment information</p>
                <input class="textbox" type="tel" name="cardNumber" id="cardNum" placeholder="Enter credit card number" pattern="[0-9]{16}" maxlength="16" required>
                <input class="textbox" type="tel" name="cardExpiry" id="cardExp" placeholder="Enter expiry" pattern="([0-9]{2}[/]?){2}" maxlength="5" required>
                
                <button type="button" id="btn_signup" onclick="saveCheckoutInfo()">Pay</button>
            </form>
        </div>
        <div>
            <p class="cart">Cart</p>

               {{>cart classList}}

            <hr>
            <section class="section_cart">
               <p id="subtotal" class="checkout_p">Subtotal: </p>
               <text class="class_style_cart" id="subtotaltext"></text>
               <p id="tax" class="checkout_p">Tax: </p>
               <text class="class_style_cart" id="taxtext"></text>
            </section>
            <hr>
            <section class="section_cart">
               <p id="total" class="checkout_p">Total: </p>
               <text class="class_style_cart" id="totaltext"></text>
            </section>
            
        </div>
   </section>
        
</main> 