#image_back {
 
    height: 100vh;
    width: auto;
    background-image: url("https://wallpaperset.com/w/full/7/5/8/52580.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#image_back > div{
    font-family: 'Russo One', sans-serif;
    color: rgb(247, 180, 13);
    position: absolute;
    top: 40%;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
 }

.homepage_h1{
    font-size: 86px;
    padding-bottom: 10px;
 }

#image_back h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

#image_back p{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
 
.hmonepahe_p{
    font-size: 22px;
}
 
.see_classes_btn{
    color: white;
    background-color: rgb(247, 180, 13);
    border:  rgb(247, 180, 13);
    border-radius: 100px;
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Fredoka One', cursive;
}