#login_page{
    background-color: rgb(240, 240, 240);
    padding: 210px;
}

#login_page div{
    background-color: white;
    width: 33vw;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 40px 20px;
}

#login_page p{
    color: rgb(48, 57, 195);
    padding-bottom: 10px;
}

#login_page input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
}
#login_page #login_btn{
    width: 49%;
    padding: 20px;
    background-color: rgb(48, 57, 195);
    border: none;
    color: white;
    font-family: 'Fredoka One', cursive; 
}
#login_page #account_btn{
    width: 50%;
    padding: 20px;
    background-color: chocolate;
    border: none;
    color: white;
    font-family: 'Fredoka One', cursive; 
}

