#purchase_page{
    background-color: black;
    padding: 110px 0;
    font-family: 'Fredoka One', cursive; 
}
#purchase_page section{

    width: 60%; 
    margin:auto auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px; 
}
#purchase_page div {
    background-color: white;
    padding: 5%;

}
#purchase_page .coloredText {
    color: blue;
    font-weight: bold;
    margin-bottom:5px;
    font-family: 'Fredoka One', cursive; 
}
#label_member{
    display: block;
    color: blue;
    font-weight: bold;
    margin-top: 10px;
}
#purchase_page .textbox {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
}
#purchase_page .memberText{
    color: rgb(135, 135, 135);
    padding: 10px 0;
}

#purchase_page #membership-select{
    font-family: 'Fredoka One', cursive; 
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

#purchase_page #btn_signup{
    background-color: rgb(247, 163, 5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: 'Fredoka One', cursive; 
} 

#purchase_page .cart {
    font-size: 40px;
}

#purchase_page .section_cart{
    width: 100%; 
    margin:auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

#purchase_page .class_style_cart{
    display: inline;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

#purchase_page .class_dur_style{
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

#purchase_page #btn_book{
    background-color: white;
    border: none;
    font-family: 'Fredoka One', cursive; 
    padding-top: 15px;
    color: blue;
}

#purchase_page .checkout_p{
    display: inline;
}

#purchase_page #itemsInCart p{
    text-align: right;
}
